.all {
  padding-top: 100px;
  text-align: center;
  background-color: antiquewhite;
  width: 100vw;
  height: 100vh;
}

.list {
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 750px;
  margin: auto;
}